<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SR03_projet3_client1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>gestCat</servlet-name>
  	<servlet-class>servlets.GestCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>gestCat</servlet-name>
  	<url-pattern>/gestion_categorie</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>modifCat</servlet-name>
  	<servlet-class>servlets.ModifyCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>modifCat</servlet-name>
  	<url-pattern>/modifier_categorie</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>supprCat</servlet-name>
  	<servlet-class>servlets.SupprCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>supprCat</servlet-name>
  	<url-pattern>/supprimer_categorie</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>gestAnn</servlet-name>
  	<servlet-class>servlets.GestAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>gestAnn</servlet-name>
  	<url-pattern>/gestion_annonce</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>modifAnn</servlet-name>
  	<servlet-class>servlets.ModifyAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>modifAnn</servlet-name>
  	<url-pattern>/modifier_annonce</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>supprAnn</servlet-name>
  	<servlet-class>servlets.SupprAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>supprAnn</servlet-name>
  	<url-pattern>/supprimer_annonce</url-pattern>
  </servlet-mapping>
</web-app>